spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/vroomDB
    username: postgres
    password: anmol   # use what you set during install

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
